body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
 .container{
max-width: 850;
margin: 0 auto;
font-family: sans-serif;
color: #2c1414;
padding: 40px;
 }
